/* color schemes */
/* use var() to use variables */

:root {
    --bg-primary: #FF69B4;
    --bg-secondary: #ff99ce;
    --bg-tertiary: #DAEAF1;
    --bg-body: #ffe6f3;

    --text-primary: #FFFFFF;
    --text-primary-black: #000000;
    --text-disabled: rgba(138, 140, 143, 0.48);

    --white: #FFFFFF;
    --red: #FF646C;
    --green: #14C679;
    --blue: #0C79F8;
    --grey: #3F4044;
    --black: #000000;
    --yellow: #FFDD3C;
    --yellow-hover: #FFE97C;
}